<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewData["Title"]</title>
    <meta name="description" content="@ViewBag.Description" />
    <meta name="keywords" content="@ViewBag.Keywords" />
    <link rel="stylesheet" href="~/css/main.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    
    <noscript><link rel="stylesheet" href="~/css/noscript.css" /></noscript>
</head>
<body>
    <div>
        <main>
            @RenderBody()
        </main>
    </div>

    <!--Scripts-->
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/jquery.scrollex.min.js"></script>
    <script src="~/js/jquery.scrolly.min.js"></script>
    <script src="~/js/browser.min.js"></script>
    <script src="~/js/breakpoints.min.js"></script>
    <script src="~/js/util.js"></script>
    <script src="~/js/main.js"></script>
    
    @RenderSection("Scripts", required: false)
</body>
</html>
